$body: "proxima-nova", Helvetica, Arial, sans-serif;
$accent: "brandon-grotesque", Helvetica, Arial, sans-serif;

$light-teal: #89d6cd;
$dark-teal: #24D7C3;
$light-pink: #f48493;
$dark-pink: #F7455D;
$text: #333;