<div class="right paddingRight footer">
  <br>
  <a role="button" data-toggle="modal" href="#modalPatternSupport">Pattern Help</a>
  &nbsp; | &nbsp;
  <a href="#modalPurchaseInfo" role="button" data-toggle="modal">Pattern Purchase FAQ</a>
  &nbsp; | &nbsp;
  <a role="button" data-toggle="modal" href="#modalFAQ">FAQ</a>
  <br><br>
  &copy; Liz Abinante (<a href="mailto:liz@feministy.com">liz@feministy.com</a>), feministy.com | 2007-2014
  <br>
  Patterns are for non-commercial use only.<br>
  You may not distribute or sell these patterns<br>
  or items made using these patterns.
  <bR>
  <p>&nbsp;</p>
</div>
