<h5>New Abbreviations</h5>

<dl class="dl-horizontal">
  <dt>m1</dt>
  <dd>make one</dd>
  <dt>dd</dt>
  <dd>double decrease. sl 1, k2tog, pass slipped st over</dd>
</dl>

<p class="badge badge-success">Begin with 330 sts after working Clue 3.</p>

<p class="alert alert-danger">See below if you do not have 330 sts.</p>

<h5>Edging</h5>
<dl class="dl-horizontal">
  <dt>Row 1 (RS)</dt>
  <dd>k2, remove m, k1, [k4, m1, dd, m1, k5] 27x, k1, remove m, k2.<br>
    <em>If you get tired of counting, repeat [k4, m1, dd, m1, k5] to the last 3 sts before the end of the needle (remember you’re removing the marker the first time you do it).</em></dd>
  <dt>Row 2</dt>
  <dd>k all sts.</dd>
  <dt>Row 3</dt>
  <dd>As Row 1.</dd>
</dl>

<p class="text-warning">If you have extra yarn, you can continue to repeat rows 2-3. You’ll get more exaggerated points.</p>

<p>
Bind off as follows: ssk, *[sl 1 st on right needle, k 2 sts together as if to ssk], rpt from * to end
</p>

<div class="well">
  <h5>Help! I don't have 330 stitches!</h5>

  <p>
    There seems to be some confusion with regards to the stitch count for Clue 3. 330 stitches is what I and my tech editors/sample knitters had at the end of the clue. I haven’t been able to track down the errors in the pattern that are causing people to get different stitch counts. <strong>If you don’t have 330 stitches, add the number of stitches you need to get there on the first row of the pattern or take them out. Nobody should be more than 5 stitches or so off.</strong>
  </p>

  <p>
    If you knit the special instructions for people with less than 400 yards, I don’t have stitch counts for you yet. Everyone who had less than 400 yards seems to have gone a different path in terms of repeats, so I can’t possibly calculate all of the permutations. You are partially on your own for Clue #4, but only partially. If you followed the special instructions for less than 400 yards, you will need to have the proper multiple of stitches to make the edging work. The edging only exists to add points to the shawl, so don’t worry if you’re off by a bit. As long as it looks good to you, you’re ok. The stitch pattern used is a multiple of 12 sts, plus extra stitches along the edging.
  </p>

  <h5>Working the edging with a different number of stitches</h5>

  <p>If you want to make the edging work with a different number of stitches, the points are a multiple of 12 (plus 3 edge stitches on each side). The number of stitches along the edge are negotiable, and you can also adjust the number of stitches in between the double decreases.</p>

  <p>There is only one official option for Clue #4. If you want to add more repeat of clue #3 or extend clue #4, you can, but that’s at your discretion and I can’t help you out with that.</p>

  <p>These instructions are for the standard edging. This is it! The final clue. There’s nothing else coming at you until the premium version of the pattern is released (includes row-by-row and section stitch counts not available in the KAL).</p>

  <h5>Assistance with off stitch counts</h5>

  If you don’t have 330 stitches, here’s my advice (pick one or multiple):

  <ul>
    <li>Increase/decrease to get 330 on the first row (you’re not adding new stitches at this point anymore)</li>
    <li>If you’re off by only a few stitches (some people have 328) you will be AOK (see below)</li>
    <li>Adjust the stitch pattern slightly: it’s a multiple of 12 + 3 edge stitches on each side (so 12 + 6).</li>
  </ul>

  <h5>Tips for adjusting the edging to work with your stitch count</h5>

  <p>If you have an odd number of stitches, simply k2tog at the beginning or end of your row or increase 1 (depending on your stitch count). Once you have an even number of stitches, use the info below to help you out.</p>

  <ul>
    <li>If you have 328 stitches, you would work: k2, (pattern) 27x, k2.</li>
    <li>If you have 326 stitches, you’ll need to increase 2 (I’d recommend increasing in the pattern the first and last time it is worked rather than kfb’ing the border stitches or something).</li>
    <li>If you have more than 330 add extra stitches along the edging before and after the pattern unless you are closer to another multiple of 12.</li>
    <li>If you have less than 330, the next multiple for 12 stitches is 312 (12×26). Meaning if you have 320 (320-312=8 extra), you could work k4 before the pattern and k4 after (please note that this includes the 2 border stitches!).</li>
  </ul>
</div>
