---
layout: default
title: 'feministy.com - Roxanne Mystery KAL'
---

<h1>Roxanne Mystery Shawl</h1>

<p>The pattern is comprised of 4 clues. Read through each clue thoroughly before beginning to ensure that you are aware of all of the corrections and warnings.</p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
        <h4>
          Pattern Information and Abbreviations
        </h4>
      </a>
    </div>
    <div id="collapseZero" class="accordion-body collapse in">
      <div class="accordion-inner">
        <h5>Things you’ll need:</h5>
        <dl class="dl-horizontal">
          <dt>Yarn</dt>
          <dd>fingering, approximately 430 yards. (You’ll need 410-420 yards. 400 yards won’t cut it, but I am including instructions for those who wish to use a 400 yard skein)</dd>
          <dt>Yarn used</dt>
          <dd>Little Red Bicycle Hispter Sock (80% superwash merino, 20% nylon) in Ethereal. Shown above.</dd>
          <dt>Needle</dt>
          <dd>US #5 3.75mm needle, circular preferred at least 24″ (or whatever needle you need to get gauge)</dd>
          <dt>Gauge</dt>
          <dd>20 sts/29 rows, per 4 inches in stockinette stitch</dd>
          <dt>Notions</dt>
          <dd>6 stitch markers, cable needle (optional)</dd>
          <dt>Skills</dt>
          <dd>garter tab shawl start, familiarity with shawl construction, ability to do cables, lace, and textured stitch patterns (you never know what the pattern will include!)</dd>
        </dl>

        <h5>Abbreviations</h5>
        <dl class="dl-horizontal">
          <dt>k</dt>
          <dd>knit</dd>
          <dt>p</dt>
          <dd>purl</dd>
          <dt>st/s</dt>
          <dd>stitch/es</dd>
          <dt>co</dt>
          <dd>cast on</dd>
          <dt>pu</dt>
          <dd>pick up</dd>
          <dt>pm</dt>
          <dd>place marker</dd>
          <dt>slm</dt>
          <dd>slip marker</dd>
          <dt>ssk</dt>
          <dd>slip, slip, knit (left leaning decrease)</dd>
          <dt>k2tog</dt>
          <dd>knit 2 together (right leaning decrease)</dd>
          <dt>m1l</dt>
          <dd>pick up horizontal bar between stitches from front to back and place on left needle, knit through the back loop (left leaning increase)</dd>
          <dt>yo</dt>
          <dd>yarn over</dd>
          <dt>kfb</dt>
          <dd>knit through the front and back loop</dd>
          <dt>pfb</dt>
          <dd>purl through the front and back loop</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4>
          Clue 1
        </h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        {% include roxanne_clue1.html %}
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <h4>
          Clue 2
        </h4>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        {% include roxanne_clue2.html %}
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <h4>
          Clue 3
        </h4>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        {% include roxanne_clue3.html %}
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        <h4>
          Clue 4
        </h4>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        {% include roxanne_clue4.html %}
      </div>
    </div>
  </div>
</div>