<div id="patterns"> 
  <div class="row">
    <div class='columns four'>
      <a href='/winter-sea-shawl-2'><img src='http://images4-d.ravelrycache.com/uploads/feministy/276959675/closeup_small_best_fit.JPG'></a>
    </div>
    <div class='columns four'>
      <a href='/forest-park-cowl'><img src='http://images4-b.ravelrycache.com/uploads/feministy/274626919/forest-park-1_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/in-winter'><img src='http://images4-d.ravelrycache.com/uploads/feministy/292668527/img_6999_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/misdirected-cowl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/294278073/img_6598_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/crenel-hat'><img src='http://images4-d.ravelrycache.com/uploads/feministy/275980058/10919383_1524406677830593_1849078159_n_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/very-pdx-hat'><img src='http://images4-d.ravelrycache.com/uploads/feministy/274632786/very-pdx-1_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/goodbye-california'><img src='http://images4-b.ravelrycache.com/uploads/feministy/213338930/2014-02-10_07.39.37-1_small.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/volatile-magic-shawl'><img src='http://images4-b.ravelrycache.com/uploads/feministy/197032385/_D7C0070-Edit-Edit_small_best_fit.JPG'></a>
    </div>
    <div class='columns four'>
      <a href='/cove-cowl'><img src='http://images4-b.ravelrycache.com/uploads/feministy/147214508/_D7C7009_small_best_fit.JPG'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/wish-i-was-weaving-this-cowl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/144977631/_D7C6979_small_best_fit.JPG'></a>
    </div>
    <div class='columns four'>
      <a href='/babington-shawl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/112049724/_D7C6037_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/neely-ohara'><img src='http://images4-b.ravelrycache.com/uploads/feministy/123035459/d7c6803_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/lollipop-socks'><img src='http://images4-b.ravelrycache.com/uploads/feministy/127747481/d7c6827_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/the-sock-thief'><img src='http://images4-d.ravelrycache.com/uploads/feministy/125478506/d7c6785_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/triptych-shawl'><img src='http://images4-b.ravelrycache.com/uploads/feministy/94789963/_D7C4141_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/like-honey-cowl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/99123854/_D7C5606_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/voussoir-shawl'><img src='http://images4-b.ravelrycache.com/uploads/feministy/100097410/_D7C5554_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/lancet-shawl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/98307075/d7c1789_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/squinch-shawl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/98904504/_D7C5546_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/perpetually-persistent-cowl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/95081968/d7c3693_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/blueberry-scowl'><img src='http://images4.ravelrycache.com/uploads/feministy/95942067/d7c3982_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/a-very-good-cowl-indeed'><img src='http://images4-b.ravelrycache.com/uploads/feministy/91865391/_D7C4111_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/weeble-wobble-cowl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/93224793/d7c3755_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/flurries-cowl'><img src='http://images4-d.ravelrycache.com/uploads/feministy/91010153/_D7C4101_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/thistle-cap'><img src='http://images4.ravelrycache.com/uploads/suskunen/90652752/pipo2_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/double-leaf-saroyan'><img src='http://images4-d.ravelrycache.com/uploads/jlforbess/94612351/DSC_0059_small_best_fit.JPG'></a>
    </div>
    <div class='columns four'>
      <a href='/snow-whites-lace'><img src='http://farm7.static.flickr.com/6146/6033130821_d060336784_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/ode-to-the-bay'><img src='http://farm7.static.flickr.com/6068/6033687184_2e12c4e79d_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/lost-woods-cap'><img src='http://farm7.static.flickr.com/6200/6033686044_c2d9efe1b5_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/ivory-tower-cowl'><img src='http://farm7.static.flickr.com/6206/6033685274_003cc53399_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/squish-monster-cowl-of-awesomeness'><img src='http://farm7.static.flickr.com/6004/5947760720_e2a0f8e9e1_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/my-renaissance'><img src='http://farm6.static.flickr.com/5066/5616303951_8ab3ed269f_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/roxanne-mystery-shawl'><img src='http://farm7.static.flickr.com/6106/6222939609_5b52b7d254_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/any-yarn-scarf'><img src='http://images4-b.ravelrycache.com/uploads/feministy/55072825/styled_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/lunas-shawl'><img src='http://farm5.static.flickr.com/4149/5443058476_501d502436_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/one-million-eyelets'><img src='http://farm6.static.flickr.com/5258/5486614672_09540ef76f_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/traveling-scarf-2'><img src='http://farm6.static.flickr.com/5049/5245128437_106d50d184_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/traveling-cowl'><img src='http://farm7.static.flickr.com/6204/6097907441_f30545639d_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/traveling-socks-2'><img src='http://farm6.static.flickr.com/5121/5245746286_82a68bfee4_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/socks-for-euni'><img src='http://images4-d.ravelrycache.com/uploads/feministy/44220976/eunisock_small.JPG'></a>
    </div>
    <div class='columns four'>
      <a href='/lindsay-3'><img src='http://images4-d.ravelrycache.com/uploads/feministy/45527808/foot-wm_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/ms-wick'><img src='http://images4-d.ravelrycache.com/uploads/feministy/45104768/foot-watermark_small_best_fit.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/tobias-3'><img src='http://images4-d.ravelrycache.com/uploads/feministy/44782658/leg-watermark_small_best_fit.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/citizen-shawl'><img src='http://farm6.static.flickr.com/5048/5242658735_67d82e2529_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/hatters-party-scarf'><img src='http://farm5.static.flickr.com/4003/4400670776_82158fa8ce_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/objects-in-space'><img src='http://farm5.static.flickr.com/4025/4215566042_3885ab4475_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/saroyan'><img src='http://farm3.static.flickr.com/2732/4109424385_9b281d9124_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/traveling-woman'><img src='http://farm6.static.flickr.com/5166/5245714312_0d213480fa_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/hey-jupiter'><img src='http://images4-d.ravelrycache.com/uploads/feministy/8484094/SUC55329_small.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/yvaine'><img src='http://farm5.static.flickr.com/4017/4661398106_ae6964a0a4_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/goneril--regan'><img src='http://farm4.static.flickr.com/3579/3369046080_4ede840594_m.jpg'></a>
    </div>

  </div>
  <div class="row">
    <div class='columns four'>
      <a href='/coraline-2'><img src='http://farm4.static.flickr.com/3137/3288098943_feeeb37475_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/maeby'><img src='http://farm5.static.flickr.com/4107/5212881636_15875b016e_m.jpg'></a>
    </div>
    <div class='columns four'>
      <a href='/temperance'><img src='http://farm5.static.flickr.com/4097/4822397559_0a1bef06ed_m.jpg'></a>
      </div>
  </div>
</div>
