<div class="menu pattern-menu">
  <ul>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li class="separator">Collections</li>
    <li>
      <a href="#">
        Traveling Woman
      </a>
    </li>
    <li>
      <a href="#">
        Fairy Tales Saga
      </a>
    </li>
    <li>
      <a href="#">
        Arch Shawls
      </a>
    </li>
    <li>
      <a href="#">
        Great Cowl KAL
      </a>
    </li>
    <li>
      <a href="#">
        Funke Socks
      </a>
    </li>
  </ul>
</div>

<div class="menu helper-menu">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">FAQ</a></li>
    <li class="separator"><a href="#">Ravelry</a></li>
  </ul>
</div>