<div id="pattern">
  <h1 class="centered">saroyan</h1>

  <div class="row"><div class="columns six centered"><img src="IMAGEFIRST"></div><div class="columns six centered"><img src="IMAGESECOND"></div></div>

  <div class="centered">
    <a href="#">$6 | Buy Saroyan</a>
  </div>


  <div class="description">
    <p>I am a voracious reader. When I think of heroines, I think of my favorite books. This shawl is named for the world Illona Andrews brings to life in her Kate Daniels books: ever changing, unexpected, bold, non- traditional, and sassy as hell. If you were the kind of gal who rooted for Buffy, you’ll love Kate.</p>
  <p>The shawl features cascading waves of cables throughout the center, bordered by asymmetrical garter stitch ridges on each side. The generous garter stitch border prevents unnecessary curling after blocking, and the sheen of the silk/wool blend from Wooly Wonka Fibers lends a little something special. Blocking less vigorously than the sample shown will result in more texture in the center section, emphasizing the cables rather than the garter ridges.</p>
  <p>The sample shown required approximately 425 yards, using almost the entire skein. If you’re concerned about running out of yarn, you can cut out one of the final cable repeats.</p>
  <p>I would recommend cabling without a cable needle for expediency due to the all-over nature of the center motif.</p>
  <p>Originally designed exclusively for the Wooly Wonka Fibers Heroine’s Accessory club (July 2013), Volatile Magic Shawl is now available.</p>
  </div>

  <div class="centered row">
    <a href="#">View on Ravelry</a>
    <h2>Pattern Information</h2>
    <p>
      <strong>Needles</strong><br>
      US 4 - 3.5mm
    </p>
    <p>
      <strong>Yardage</strong><br>
      425 - 435 yards Fingering / 4 ply (14 wpi)
    </p>
    <p>
      <strong>Yarns</strong><br>
      Wooly Wonka Fibers Artio Sock (Fingering)
    </p>
    <p>
      <strong>Gauge</strong><br>
      26 stitches and 40 rows = 4 inches in stockinette stitch
    </p>
    <p>
      <strong>Sizes</strong><br>
      8.5"/21.5cm at deepest point, 50"/127cm wingspan
    </p>
  </div>
</div>
