<div class="pure-u-1-6">
  {% assign post0 = site.categories.pattern[0] %}
  <a href="{{ post0.url }}"><img src="{{ post0.images[0] }}" alt="{{ post0.title }}" width="100%"></a>
</div>
<div class="pure-u-1-6">
  {% assign post1 = site.categories.pattern[1] %}
  <a href="{{ post1.url }}"><img src="{{ post1.images[0] }}" alt="{{ post1.title }}" width="100%"></a>
</div>
<div class="pure-u-1-6">
  {% assign post2 = site.categories.pattern[2] %}
  <a href="{{ post2.url }}"><img src="{{ post2.images[0] }}" alt="{{ post2.title }}" width="100%"></a>
</div>
<div class="pure-u-1-6">
  {% assign post3 = site.categories.pattern[3] %}
  <a href="{{ post3.url }}"><img src="{{ post3.images[0] }}" alt="{{ post3.title }}" width="100%"></a>
</div>
<div class="pure-u-1-6">
  {% assign post4 = site.categories.pattern[4] %}
  <a href="{{ post4.url }}"><img src="{{ post4.images[0] }}" alt="{{ post4.title }}" width="100%"></a>
</div>
<div class="pure-u-1-6">
  {% assign post5 = site.categories.pattern[5] %}
  <a href="{{ post5.url }}"><img src="{{ post5.images[0] }}" alt="{{ post5.title }}" width="100%"></a>
</div>