<div id="modalPurchaseInfo" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; Close</button>
    <h3>About pattern purchases</h3>
  </div>
<div class="modal-body">
  <p>Patterns are sold as downloadable PDF files through Ravelry, with payments processed by PayPal. You do not need an account to use either service.</p>
  <p>If you have a Ravelry account, I suggest logging in prior to purchasing so that patterns are added to your library.</p>
  </div>
</div>
<div id="modalPatternSupport" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; Close</button>
    <h3>Get pattern help</h3>
  </div>
  <div class="modal-body">
    <p>Pattern support is provided free of charge for all of my patterns. We respond as quickly as possible, but sometimes it can take a day or two.</p>
    <h4><a href="https://feministy.zendesk.com/anonymous_requests/new">Submit a new help request through Zendesk.</a></h4>
    <p>You can also use Zendesk to report errors and ask non-technical questions.</p>
    <p class="muted">Alternatively, you can try the <a href="http://www.ravelry.com/groups/traveling-woman" target="_blank">Ravelry group</a>.</p>
  </div>
  <div class="modal-footer">
    <p class="muted">Support is only provided via Zendesk.</p>
  </div>
</div>
<div id="modalFAQ" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; Close</button>
    <h3>FAQ</h3>
  </div>
  <div class="modal-body">
    <p class="alert alert-info">Can I teach a class using your knitting pattern?</p>
    <p>Teaching licensing is temporarily on hold and should resume in 2014.</p>
    <p class="alert alert-info">Can I sell items made using your knitting patterns for profit or charity?</p>
    <p>Not at this time.</p>
    <p class="alert alert-info">How do I order wholesale copies for my LYS?</p>
    <p>Pattern wholesaling is temporarily on hold and should resume in 2014.</p>
    <p class="alert alert-info">I found an error, how do I report it?</p>
    <p>Oh newts! Submit your error through <a href="https://feministy.zendesk.com/anonymous_requests/new" taret="_blank">Zendesk</a> and we will fix it.</p>
  </div>
  <div class="modal-footer">
    <p class="muted">Happy knitting!</p>
  </div>
</div>