<h5>New Abbreviations</h5>
<dl class="dl-horizontal">
  <dt>cn</dt>
  <dd>cable needle</dd>
  <dt>C6B</dt>
  <dd>sl 3 sts onto cn, hold in back, k3, k3 from cn.</dd>
  <dt>C6F</dt>
  <dd>sl 3 sts onto cn, hold in front, k3, k3 from cn.</dd>
</dl>

<p class="badge badge-success">Begin with 45 sts from Clue 1.</p>

<h5>Body Repeat</h5>

<p>Work the following table 4 times total.</p>

<p class="text-warning">Just a heads up: the cables in this table are supposed to be different.</p>

<img src="/patterns/roxanne/clue2.png">

<h5>Stitch increases, per row</h5>
<p class="text-warning">If a row is not present, it does not add any new stitches.</p>
<dl class="dl-horizontal">
  <dt>Rows 1, 3, 5, 7, 9, 11 (RS)</dt>
  <dd>+ 6</dd>
  <dt>Rows 6, 12 (WS)</dt>
  <dd>+ 4</dd>
</dl>

<p class="badge badge-success">+44 sts each repeat</p>

<h5>Per repeat stitch counts</h5>
<dl class="dl-horizontal">
  <dt>Repeat 1</dt>
  <dd>89</dd>
  <dt>Repeat 2</dt>
  <dd>133</dd>
  <dt>Repeat 3</dt>
  <dd>177</dd>
  <dt>Repeat 4</dt>
  <dd>221</dd>
</dl>

<p class="badge badge-success">End with 221 sts.</p>