---
layout: default
title: 'feministy.com - Fairy Tales Saga'
price: '$20.00'
perma: 'fairy-tales-saga'
purchase_link: 'http://www.ravelry.com/purchase/feministy/73365'
---
<h1>Fairy Tales Saga <a href='{{ page.purchase_link }}' class='btn btn-success'>{{ page.price }} &bull; Buy collection now!</a></h1>
<hr>
{% for post in site.categories.fairy %}


<img src="{{ post.images[0] }}" align="right" class="img-rounded">
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<a href='#{{ post.purchase_link }}' class='btn btn-success btn-small'>{{ post.price}} &bull; Buy {{ post.title }} now!</a>
<p>{{ post.content }}</p>
{% include info_table.html %}
<h6 class="text-center">Additional Photos</h6>
<p class="text-center">
{% for image in post.tiny_images %}
<img class='img-circle' src='{{ image }}'>
{% endfor %}
</p>
<p class="text-center">
<a href="{{ post.url }}" class="btn btn-small">View larger images</a>
</p>
<p>&nbsp;</p>
<hr>

<p></p>
{% endfor %}
<a href='{{ page.purchase_link }}' class='btn btn-success btn-large btn-block'>{{ page.price }} &bull; Buy Fairy Tales Saga now!</a>