<h5>If you have 400 yards or less...</h5>
<p>Option 1: work the Transition chart, skip Body part 1, work Body part 2.</p>
<p>Option 2: work the Transition chart, work Body part 1, work fewer repeats of Body part 2.</p>

<p class="badge badge-success">Begin with 221 sts from Clue 2.</p>

<h5>Transition</h5>

<p>Work table once.</p>

<p class="alert alert-danger">There is an error in Row 7. <strong>See below table for correction</strong>.</p>

<img src="/patterns/roxanne/clue3.png">

<p class="text-error">Row 7 is missing a yarn over before the second marker. Work border and edge stitches for Row 7 as you did for Row 5.</p>

<h5>Body, Part 1</h5>

<p>Work table once.</p>

<p class="alert alert-danger">Cables in Row 7 should be C6F, then C6B.</p>
<p class="alert alert-danger">Row 4 and 10 — First Edge Section should read:  k2, [yo, k2tog] to 2 sts before m, k2, slm.</p>
<p class="alert alert-danger">Row 5 and 11 — First Edge Section should read: k2, yo, k1, [yo, k2tog] to 3 sts before m, k1, yo, k2, yo, slm.</p>

<img src="/patterns/roxanne/clue3_2.png">

<h5>Body, Part 2</h5>

<dl class="dl-horizontal">
  <dt>Row 1 (RS)</dt>
  <dd>k2, slm, yo, [k to m, remove m] 4x, k to m, yo, slm, k2</dd>
  <dt>Row 2 (WS)</dt>
  <dd>k2, slm, k to m, slm, k2</dd>
  <dt>Row 3</dt>
  <dd>k2, slm, yo, k to m, yo, slm, k2</dd>
  <dt>Row 4</dt>
  <dd>k2, slm, k to m, slm, k2</dd>
</dl>

<p>Work table 3 times.</p>

<img src="/patterns/roxanne/clue3_3.png">

<p class="badge badge-success">End with 330 sts.</p>