<h5>
  Set-Up
</h5>

<p>
  CO 4 sts. k 6 rows. On last row, do not turn work. Rotate work 90 degrees clockwise and pu 6 sts along the edge and cast on of the work – 10 sts total.
</p>

<dl class="dl-horizontal">
  <dt>Row 1 (RS)</dt>
  <dd>k2, pm, p2, pm, k2, pm, p2, pm, k2</dd>
  <dt>Row 2</dt>
  <dd>k2, slm, yo, k2, slm, kfb, k1, m1l, slm, k2, yo, slm, k2</dd>
  <dt>Row 3</dt>
  <dd>k2, slm, p3, slm, pfb, p3, slm, p3, slm, k2</dd>
  <dt>Row 4</dt>
  <dd>k2, slm, yo, k2, kfb, slm, (k1, m1l) 4x, k1, slm, kfb, k2, yo, slm, k2</dd>
  <dt>Row 5</dt>
  <dd>k2, slm, p1, pfb, p3, slm, p9, slm, p3, pfb, p1, slm, k2</dd>
</dl>

<p class="badge badge-success">
  25 sts total. Your next row should be a RS row.
</p>

<h5>
  Body Set-Up
</h5>

<p>
  Work the following table once.
</p>

<p class="alert alert-danger">There is an error in Row 1. <strong>See below table for correction</strong>.</p>

<img src="/patterns/roxanne/clue1.png">


<p class="text-error">
<strong>Row 1 correction:</strong> k2, slm, yo, k1, ssk, m1l, p2, k1, yo, slm, k3, m1l, k1, yo, k5, slm, yo, k1, ssk, m1l, p2, k1, yo, slm, k2
</p>

<p class="badge badge-success">45 sts total, separated by markers as follows: 2 – 12 – 6 – 5 – 6 – 12 – 2</p>