@import "normalize";
@import "skeleton";

@import "landing_page";
@import "menu";

a {
  text-decoration: none;
  color: #505180;
  &:hover {
    color: #FF5198;
  }
}

.header {
  text-align: center;
  padding: 10% 10% 2% 10%;
  img {
    display: inline-block;
    margin: 0 auto;
  }
}

#pattern {
  .description {
    text-align: justify;
  }
  .centered {
    text-align: center;
    margin: 0 auto;
  }
  h1, a {
    margin: 5% !important;
  }
  a {
    display: inline-block;
    padding: 10px;
    background-color: lighten(#d9d9d9, 10%);
    color: #222;
    &:hover {
      background-color: #505180;
      color: darken(#fff, 15%);
    }
  }
}

#patterns, #pattern {
  .row {
    margin-bottom: 5%;
  }
  .columns {
    img {
      max-width: 100%;
    }
  }
}